<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div th:fragment="top">
    <div class="chl-poster simple" id="header">
        <div id="site-nav">
            <ul class="site-nav-login">
                <li class="home"><a href="goToLogin.html">请登录</a></li>
                <li class="home"><a href="#">免费注册</a></li>
            </ul>
            <ul class="quick-menu">
                <li class="myxiaba menu-item">
                    <div class="menu">
                        <a class="menu-hd" href="#" target="_top" rel="nofollow">会员中心<b></b></a>
                        <div class="menu-bd">
                            <div class="menu-bd-panel">
                                <div>
                                    <a href="#" rel="nofollow">我的消息</a>
                                    <a href="#"  rel="nofollow">我的评论</a>
                                    <a href="#"  rel="nofollow">我的收藏</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="favorite"><a href="help.html" rel="nofollow">帮助中心</a></li>

                <li class="services menu-item last">
                    <div class="menu">
                        <a class="menu-hd" href="#" target="_top">网站导航<b></b></a>
                        <div class="menu-bd" style="width: 1098px; height: 250px; _width: 202px">
                            <div class="menu-bd-panel">
                                <dl>
                                    <dt><a href="#" style="color: #000;">网页特效</a>
                                    <dd>
                                        <a href="#">焦点图</a>
                                        <a href="#">图片代码</a>
                                        <a href="#">幻灯片代码</a>
                                        <a href="#">按钮特效</a>
                                        <a href="#">数字时间</a>
                                        <a href="#">表单特效</a>
                                        <a href="#">状态栏代码</a>
                                        <a href="#">窗口特效</a>
                                        <a href="#">鼠标特效</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt><a href="#" style="color: #000;">网页模板</a>
                                    <dd>
                                        <a href="#">企业宣传</a>
                                        <a href="#">婚纱摄影</a>
                                        <a href="#">政府机构</a>
                                        <a href="#">电子商务</a>
                                        <a href="#">行业门户</a>
                                        <a href="#">房地产类</a>
                                        <a href="#">响应式开发</a>
                                        <a href="#">HTML5</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt><a href="#" style="color: #000;">网页元素</a>
                                    <dd>
                                        <a href="#">背景素材</a>
                                        <a href="#">广告海报</a>
                                        <a href="#">图标素材</a>
                                        <a href="#">按钮素材</a>
                                        <a href="#">元素整合</a>
                                        <a href="#">Flash素材</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt><a href="#" style="color: #000;">成品网站</a>
                                    <dd>
                                        <a href="#">企业宣传</a>
                                        <a href="#">婚纱摄影</a>
                                        <a href="#">政府机构</a>
                                        <a href="#">电子商务</a>
                                        <a href="#">行业门户</a>
                                        <a href="#">房地产类</a>
                                        <a href="#">响应式开发</a>
                                        <a href="#">HTML5</a>
                                    </dd>
                                </dl>
                                <div class="seft-web">
                                    <h1 class="seft">自助建站</h1>
                                    <a href="demand.html" class="step"><strong>一步到位</strong></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<div th:fragment="user">
    <div class="user">
        <div class="user-login">
            	<span class="head">
                <img th:src="@{custom/images/user.jpg}"/>
                </span>
            <span class="name">会员功能，敬请期待</span>
            <!--<a href="#" class="registration">每日签到　送十个共享币</a>-->
            <!--<div class="member-ft">-->
                <!--<a href="#">用户登录</a>-->
                <!--<a href="#">免费注册</a>-->
                <!--<a href="#">忘记密码</a>-->
            <!--</div>-->
        </div>
        <!--<div class="notice">-->
            <!--<div class="slideTxtBox">-->
                <!--<div class="hd">-->


                    <!--<ul>-->
                        <!--<li><a href="">公告</a></li>-->
                        <!--<li><a href="article.html">文章</a></li>-->
                        <!--<li><a href="course.html">教程</a></li>-->
                        <!--<li><a href="#">问答</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="bd">-->
                    <!--<ul>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">中国打破了世界软件巨头规则</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">口语：会说中文就能说英语！</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">农场摘菜不如在线学外语好玩</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">农场摘菜不如在线学外语好玩</a></li>-->
                    <!--</ul>-->
                    <!--<ul>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">名师教作文：３妙招巧写高分</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">耶鲁小子：教你备考SAT</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">施强：高端专业语言教学</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">施强：高端专业语言教学</a></li>-->
                    <!--</ul>-->
                    <!--<ul>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">澳大利亚八大名校招生说明会</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">2012世界大学排名新鲜出炉</a>-->
                        <!--</li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">新加坡留学，国际双语课程</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">新加坡留学，国际双语课程</a></li>-->
                    <!--</ul>-->
                    <!--<ul>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">澳大利亚八大名校招生说明会</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">2012世界大学排名新鲜出炉</a>-->
                        <!--</li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">新加坡留学，国际双语课程</a></li>-->
                        <!--<li><span class="date">[2011-11-11]</span><a href="#" target="_blank">新加坡留学，国际双语课程</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<script id="jsID" type="text/javascript">-->
                <!--var ary = location.href.split("&amp;");-->
                <!--jQuery(".slideTxtBox").slide({-->
                    <!--effect: ary[1],-->
                    <!--autoPlay: ary[2],-->
                    <!--trigger: ary[3],-->
                    <!--easing: ary[4],-->
                    <!--delayTime: ary[5],-->
                    <!--pnLoop: ary[6]-->
                <!--});-->
            <!--</script>-->
        <!--</div>-->
    </div>


</div>
<div th:fragment="nav">
    <div class="logo-inside">
        <div class="logo">
            计算机资源分享网
        </div>

        <div class="header-search-box" th:if="${not #lists.isEmpty(searchTypeList)}">
            <form method="get" target="_self" action="#">
                <div id="J_sort" class="header-search-sort" >

                    <a href="javascript:;" class="on" target="_self" title="全部" data-type="" hidefocus="true" onclick="return false;">全部</a>

                    <a href="javascript:;" target="_self"  data-type="0" hidefocus="true" onclick="return false;" th:each="searchType:${searchTypeList}">
                        <span th:text="${searchType.name}"></span>
                    </a>

                </div>
                <div class="relative header-search clearfix">
                    <input type="text" autocomplete="off" name="q" maxlength="50" class="relative header-search-text J-search-txt">
                    <input type="submit" value="搜 索" class="fl header-search-submit">


                    <input type="hidden" value="" name="sort">
                    <input type="hidden" name="from" value="1">
                </div>
            </form>
            <!--<div class="header-search-keywords">热门搜索：-->
                <!--<a hidefocus="true" title="开学" href="http://soso.nipic.com/?q=开学">开学</a>-->
                <!--<a hidefocus="true" title="月饼" href="http://soso.nipic.com/?q=月饼">月饼</a>-->
                <!--<a hidefocus="true" title="暑假" href="http://soso.nipic.com/?q=暑假">暑假</a>-->
                <!--<a hidefocus="true" title="礼盒" href="http://soso.nipic.com/?q=礼盒">礼盒</a>-->
                <!--<a hidefocus="true" title="中秋" href="http://soso.nipic.com/?q=中秋">中秋</a>-->

            <!--</div>-->
        </div>

    </div>

    <div class="nav" th:if="${not #lists.isEmpty(subjectlist)}">
        <ul >
            <li th:each="subject:${subjectlist}"><a href="index.html" class="current main_a" th:text="${subject.subjectname}"></a></li>

        </ul>
        <!--<div class="sub_nav">-->
            <!--<a href="#" class="sub_a" >设计师导航</a>-->
            <!--<a href="#" class="sub_a" >前端神器</a>-->
            <!--<a href="#" class="sub_a" >图书推荐</a>-->
            <!--<a href="#" class="sub_a" >下载排行</a>-->
        <!--</div>-->
    </div>


</div>

<div th:fragment="copyright">
    <div class="footer">
        <!--<div class="foot">-->
            <!--<p class="foot-menu">-->
                <!--<i class="about">关于</i>-->
                <!--<i class="help">帮助</i>-->
                <!--<i class="collect">收藏</i>-->
                <!--<i class="attention">关注</i>-->
            <!--</p>-->
            <!--<ul class="about">-->
                <!--<li><a href="about.html">关于我们</a></li>-->
                <!--<li><a href="contact.html">联系我们</a></li>-->
                <!--<li><a href="service.html">广告服务</a></li>-->
                <!--<li><a href="copyright.html">版权声明</a></li>-->
                <!--<li><a href="demand.html">发布需求</a></li>-->
            <!--</ul>-->
            <!--<ul class="help">-->
                <!--<li><a href="#">常见问题</a></li>-->
                <!--<li><a href="#">支付相关</a></li>-->
                <!--<li><a href="#">充值相关</a></li>-->
                <!--<li><a href="#">友情链接</a></li>-->
                <!--<li><a href="#">在线留言</a></li>-->
            <!--</ul>-->
            <!--<div class="branding">-->
            <!--</div>-->
            <!--<ul class="collect">-->
                <!--<li><a href="#">加入收藏</a></li>-->
                <!--<li><a href="#">设为首页</a></li>-->
                <!--<li><a href="#">放到桌面</a></li>-->
            <!--</ul>-->
            <!--<ul class="attention">-->
                <!--<li><a href="#">新浪微博</a></li>-->
                <!--<li><a href="#">qq空间</a></li>-->
                <!--<li><a href="#">腾讯微博</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="friendlink">-->
            <!--友情链接：<a href="#">懒人图库</a>|<a href="#">懒人图库</a>|<a href="#">破落落</a>-->
        <!--</div>-->
        <div class="copyright">
            © 2013 Aliyun.com 版权所有 ICP证：浙B2-20080101

        </div>
    </div>

</div>

<div th:fragment="tools">
    <div class="bottom_tools">
        <a class="qr_tool" href="javascript:viod();">二维码</a>
        <!--<a id="music_box" href="javascript:viod();" title="在线音乐">在线音乐</a>-->
        <!--<a id="feedback" href="javascript:viod();" title="意见反馈">意见反馈</a>-->
        <a id="scrollUp" href="javascript:;" title="飞回顶部"></a>
        <img class="qr_img" th:src="@{custom/images/qr_img.png}">
    </div>
</div>
</body>
</html>