<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div th:fragment="problem">
    <div class="inbox-a" style="margin-top:35px;">
        <h1 class="submenu"><strong class="title">常见问题</strong></h1>
        <div class="list-box sideBar-a profile" id="list-box2">
            <div class="content" style="width:788px;">
                <ul class="faqlist">
                    <li style="width:788px; height:auto;">
                        <h4><span>流程介绍</span></h4>
                        <p>1．选择自己需要的资源<br/>
                            2．进入详情页面查看详情。<br/>
                            3．点击下载资源，进入支付宝支付。<br/>
                            4．支付完成后将获取百度云盘下载链接，自行下载即可。</p>

                    </li>
                    <li style="width:788px;height:auto;">
                        <h4><span>关于崇信毕设的服务？</span></h4>
                        <p>从该网站现在的资源均为成品，不提供后期任何服务<br/>
                            对编码有一定了解的人可以进行支付下载。<br/>

                    </li>
                    <!--<li style="width:788px;height:auto;">-->
                        <!--<h4><span>充值成功后没有到账怎么办？</span></h4>-->
                        <!--<p>极少数情况可能由于网络延迟造成支付成功后未到账，请您稍等几分钟再刷新充值记录页面看看是否成功充值。 如果仍没有成功记录，<a href="#">请联系我们的客服</a>，我们会第一时间帮您处理。<br/>-->

                    <!--</li>-->

                </ul>

            </div>
        </div>
    </div>

</div>
</body>
</html>